<section>
    <h1>Root certificates</h1>

    <mat-divider></mat-divider>

    <div class="card-holder row">
        <mat-card *ngFor="let c of rootCert" class="example-card column">
            <mat-card-title>{{c.commonName}}</mat-card-title>
            <mat-card-subtitle>Common name</mat-card-subtitle>
            <mat-card-content>
            <p><b>Organization: </b></p>
            <p><b>Neki podatak: </b></p>
            </mat-card-content> 
            <mat-card-actions>
            <button style="margin:2%; margin-left: 40%;" mat-button (click)="review(c.id)">Details</button> 
            </mat-card-actions>
        </mat-card> 
    </div>

</section>

<section>
    <h1>CA certificates</h1>

    <mat-divider></mat-divider>

    <div class="card-holder row">
        <mat-card *ngFor="let c of caCert" class="example-card column">
            <mat-card-title>{{c.commonName}}</mat-card-title>
            <mat-card-subtitle>Common name</mat-card-subtitle>
            <mat-card-content>
            <p><b>Organization: </b></p>
            <p><b>Neki podatak: </b></p>
            </mat-card-content> 
            <mat-card-actions>
            <button style="margin:2%; margin-left: 40%;" mat-button>Details</button> 
            </mat-card-actions>
        </mat-card> 
    </div>

</section>

<section>
    <h1>End Entity certificates</h1>

    <mat-divider></mat-divider>  

    <div class="card-holder row">
        <mat-card *ngFor="let c of endEntityCert" class="example-card column">
            <mat-card-title>{{c.commonName}}</mat-card-title>
            <mat-card-subtitle>Common name</mat-card-subtitle>
            <mat-card-content>
            <p><b>Organization: </b></p>
            <p><b>Neki podatak: </b></p>
            </mat-card-content> 
            <mat-card-actions>
            <button style="margin:2%; margin-left: 40%;" mat-button>Details</button> 
            </mat-card-actions>
        </mat-card> 
    </div>

</section>