

<section *ngIf="certLoaded">
    <h1>CA certificates of {{email}}</h1>

    <mat-divider></mat-divider>

    <div class="card-holder row">
        <mat-card *ngFor="let c of caCert" class="example-card column">
            <!-- <mat-card-title>{{c.certificateData.commonName}}</mat-card-title> -->
            <mat-card-subtitle>Common name</mat-card-subtitle>
            <mat-card-content>
            <p><b>Valid from: </b> {{ c.validFrom }}</p>
            <p><b>Valid to: </b> {{ c.validTo }}</p> 
            </mat-card-content> 
            <mat-card-actions>
            <button style="margin:2%; margin-left: 40%;" mat-button (click)="review(c.id)">Details</button> 
            </mat-card-actions>
        </mat-card> 
    </div>

</section>

<section *ngIf="certLoaded">
    <h1>End Entity certificates</h1>

    <mat-divider></mat-divider>  

    <div class="card-holder row">
        <mat-card *ngFor="let c of endEntityCert" class="example-card column">
            <mat-card-title>{{c.certificateData.commonName}}</mat-card-title>
            <mat-card-subtitle>Common name</mat-card-subtitle>
            <mat-card-content>
            <p><b>Valid from: </b> {{ c.validFrom }}</p>
            <p><b>Valid to: </b> {{ c.validTo }}</p> 
            </mat-card-content> 
            <mat-card-actions>
            <button style="margin:2%; margin-left: 40%;" mat-button (click)="review(c.id)">Details</button> 
            </mat-card-actions>
        </mat-card> 
    </div>

</section>